#PatternList File
#
#Version  "CATVert-W for T2000 R2.02A Build 150213"
#Date     "Aug 09 10:28:05 2024"
#TRF      "C:\Program Files\ADVANTEST\CATWGLTSS\data\CATVERT\trf\DM1GBPS.trf"
#WGL      "D:\WorkFolder\HANA\GLOBALTECH\digital_top_B.r0.0.int_merge.wgl"
#PAT      "D:\WorkFolder\HANA\GLOBALTECH\WGL\digital_top_Br00int_merge.pat"
#PXR      "D:\WorkFolder\HANA\GLOBALTECH\WGL\digital_top_Br00int_merge.pxr"
#PIN      "D:\WorkFolder\HANA\GLOBALTECH\WGL\digital_top_Br00int_merge.pin"
#SOC      "D:\WorkFolder\HANA\GLOBALTECH\WGL\digital_top_Br00int_merge.soc"
#TIM      "D:\WorkFolder\HANA\GLOBALTECH\WGL\digital_top_Br00int_merge.tim"
#TMAP     "NONE"
#LEVEL    "NONE"
#SPEC     "NONE"
#TCG      "D:\WorkFolder\HANA\GLOBALTECH\WGL\digital_top_Br00int_merge.tcg"
#

Version 1.0;

GlobalPList GPlist { 
 Pat digital_top_Br00int_merge;
}
