# Ignore List
# This file is used to ignore files and directories in the project

# Logic Pro 8
*.sal

# VS Code
*.json

# Microsoft Office temporary files
*.tmp
~$*

# IAR
# IAR C-STAT and C-RUN
# Comment this out if you use C-Stat or C-Run to compile/analyze your project
*.ewt

# IAR Debugger files
*.ewd

# IAR Workspace files
*.eww

# IAR Settings
**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos

# IAR Debug Exe
**/Debug/Exe/

# IAR Debug List
**/Debug/List

# IAR Debug Obj
*.pbd
*.pbd.*
*.pbi
*.pbi.*
*.xcl
*.pbw
*.dnx
*.sim

# Log files
**.log

# IAR backup files
Backup*

# IAR .dep files
*.dep

### IAR ###
# Compiled binaries
*.o
*.bin
*.elf
*.hex
*.map
*.out
*.obj
*.ninja_deps
*.ninja_log
*.ninja

# Trash files
*.bak
thumbs.db
*.~*
*.reggroups

# 측정파일 제거
**/측정자료
X-Series/XDIC_Common/XD04_A6R1_XD12_A7R1/Docs/xd04_iqc_jig_fw_release.xlsx
X-Series/XDIC_Common/XD04_A6R1_XD12_A7R1/FW/User/Src/JigBd_IF.c
X-Series/XDIC_Common/XD04_A6R1_XD12_A7R1/FW/User/Src/xd_test.c
